@import "./variables" ;

@media only screen and (max-width: 780px){
    .gridz{
      display: flex;
      flex-direction: column;
      background : $gradiente2;
  }
  .titulo{
    font-size: 20px;
    
  }
  .titulo{
    font-size: 20px;
  }
  .colorblack{
    background-color:$gradiente1;
  }
  }
    
  
  @media only screen and (max-width:500px) {
    body{
      background: $gradiente1 ;
    }
    .gridz {
      display: flex;
      flex-direction: column;
    }
    .secciones__titulo{
       font-size: 15px;
    }
    .titulo{
      font-size: 15px;
    }
  .romeo{
    max-width: 300px;
  }
  .colorblack{
    background: $gradiente1;
  }
  .lemon{
    max-width: 320px;
  }
  .form-login {
    width: 300px;
    height: 600px;
    background: #4e4d4d;
    margin: auto;
    margin-top: 180px;
    box-shadow: 7px 13px 37px #000;
    padding: 20px 30px;
    border-top: 4px solid #017bab;
    color: white;
  }
}